Repository CactusTechnologies/Lyme_Registration: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "*.js": ["prettier --write", "eslint --fix", "git add"],
    "*.{json,md}": ["prettier --write", "git add"],
    "*.css": ["prettier --write", "stylelint --fix", "git add"],
    "package.json": ["sort-package-json", "git add"]
}

Quick commit
  AUTHORS
  src/App.js
  src/components/Header.js
  src/containers/Confirmation.js
Due: prettier --write, eslint --fix

refactor(app): Updates to styling and functionality
  package-lock.json
  package.json
  public/fonts/MuseoSlab100.otf
  public/fonts/MuseoSlab700.otf
  public/fonts/SofiaProBlack.otf
  public/fonts/SofiaProLight.otf
  public/fonts/SofiaProSemiBold.otf
  src/App.css
  src/App.js
  src/components/Button.js
  src/components/Header.js
  src/components/RoleButton.js
  src/containers/Attract.js
  src/containers/Confirmation.js
  src/containers/Experience.js
  src/containers/Info.js
  src/containers/Intro.js
  src/containers/Photo.js
  src/containers/Terms.js
  src/images/back.svg
  src/images/background.svg
  src/images/overlay.png
  src/images/overlay.svg
  src/index.js
Due: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Styling Adjustments
  src/App.js
  src/components/StatusIndicator.js
  src/containers/Attract.js
  src/containers/Confirmation.js
  src/containers/Experience.js
  src/containers/Info.js
  src/containers/Intro.js
  src/containers/Photo.js
  src/containers/Terms.js
Due: prettier --write, eslint --fix

Sockets reorder
  AUTHORS
  src/App.js
  src/containers/Attract.js
Due: prettier --write, eslint --fix

update legal agreement
  src/App.js
  src/containers/Photo.js
  src/containers/Terms.js
Due: prettier --write, eslint --fix

Quick commit [Craigs-MacBook-Pro]
  AUTHORS
Due: none

--no-verify [Craigs-MacBook-Pro]
  package.json
Due: prettier --write, sort-package-json

Quick commit [Craigs-MacBook-Pro]
  src/App.js
  src/containers/Terms.js
Due: prettier --write, eslint --fix

Design changes
  src/App.js
  src/components/StatusIndicator.js
  src/containers/Attract.js
  src/containers/Confirmation.js
  src/containers/Experience.js
  src/containers/Info.js
  src/containers/Intro.js
  src/containers/Photo.js
  src/containers/Terms.js
  src/images/index.svg
  src/images/logo.svg
  src/images/swipeup.svg
Due: prettier --write, eslint --fix

Header fix
  AUTHORS
  src/containers/Attract.js
  src/containers/Confirmation.js
Due: prettier --write, eslint --fix

onstite changes
  src/App.js
  src/containers/Attract.js
Due: prettier --write, eslint --fix

updates
  build.zip
  build/asset-manifest.json
  build/favicon.ico
  build/fonts/MuseoSlab100.otf
  build/fonts/MuseoSlab700.otf
  build/fonts/SofiaProBlack.otf
  build/fonts/SofiaProLight.otf
  build/fonts/SofiaProSemiBold.otf
  build/index.html
  build/manifest.json
  build/service-worker.js
  build/static/css/main.f3d4899b.css
  build/static/css/main.f3d4899b.css.map
  build/static/js/main.97284da6.js
  build/static/js/main.97284da6.js.map
  build/static/media/back.44b11768.svg
  build/static/media/background.194057c3.svg
  build/static/media/logo.5ac6c27f.svg
  build/static/media/overlay.6b6c43cb.png
  build/static/media/swipeup.7c612d98.svg
  src/App.js
  src/containers/Attract.js
Due: prettier --write, eslint --fix, stylelint --fix

update role descriptions
  AUTHORS
  src/App.js
  src/containers/Experience.js
Due: prettier --write, eslint --fix

fix spelling error
  AUTHORS
  src/containers/Intro.js
Due: prettier --write, eslint --fix

add timeout for reseting tablet on idol
  src/components/Button.js
  src/containers/Experience.js
  src/containers/Info.js
  src/containers/Intro.js
Due: prettier --write, eslint --fix

fix typo
  src/containers/Experience.js
Due: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write
